label {
  cursor: pointer;
  user-select: none;
}

input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;

  &:checked {
    + label {
      text-decoration: line-through;
    }
  }
}
