<div class="row justify-content-center">
  <div class="col-8">
    <ul class="list-group">
      <li class="list-group-item">
        <input type="checkbox" id="todo-item-1">
        <label for="todo-item-1">Todo item 1</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox" id="todo-item-2">
        <label for="todo-item-2">Todo item 2</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox" id="todo-item-3">
        <label for="todo-item-3">Todo item 3</label>
      </li>
      <li class="list-group-item">
        <input type="checkbox" id="todo-item-4">
        <label for="todo-item-4">Todo item 4</label>
      </li>
    </ul>
    <app-nav></app-nav>
  </div>
</div>

