.row {
  margin-bottom: 20px;
  text-align: center;
}

.form-control {
  display: inline-block;
  vertical-align: top;
  width: auto;
  margin-right: 5px;

  &.ng-dirty.ng-invalid {
    border-color: red;
  }
}

.btn {
  display: inline-block;
  vertical-align: top;
}
